:root {
    --color-light: #fff;
    --color-dark: #000;
    --color-gray: #e4e4e4;
    --color-gray-dark: #3B3B3B;

    --color-primary: #18A0FB;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, p {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-light);
    font-family: 'Montserrat', sans-serif;
}

input, textarea {
    width: 100%;
    margin: 5px 0;
    font-family: 'Montserrat', sans-serif;
}

input {
    padding: 5px;
}

input[type='checkbox'] {
    width: unset;
}

button {
    border: unset;
    background-color: unset;
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
    transition: 0.3s;
}

button.remove {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 1rem;
}

/* CUSTOM GLOBAL */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* width: 100%; */
    max-width: 1440px;
    background-color: var(--color-light);
    margin: 0 auto;
}

/* MENU */
.menu  {
    border-bottom: 1px solid var(--color-dark);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    /* margin-bottom: 50px; */
}

.menu > * {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.menu .left {
    margin-right: auto;
}

.menu .icon {
    width: 25px;
}

/* SUB MENU */
.sub_menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    margin-bottom: 50px;
}

.sub_menu p {
    text-transform: uppercase;
}

/* GRID */
.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    gap: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MODAL */
.modal-background {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 1; 
}

.modal-content {
    background-color: var(--color-gray-dark);
    padding: 5em;
    position: relative;
    color: var(--color-light);
}

/* BUTTONS */
.btn-submit {
    margin: 1em auto;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    color: var(--color-primary);
    font-weight: bold;
    border: 1px solid;
    border-color: var(--color-primary);
    letter-spacing: 3px;
    display: block;
    margin: 20px auto;
}
.btn-submit p {
    text-transform: uppercase;
}
.btn-submit:hover {
    opacity: unset;
    background-color: var(--color-primary);
    color: var(--color-light);
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: transparent;
}

/* FORM */
.form {
    width: 300px;
}

.form-field {
    text-align: center;
    font-size: 16px;
}

/* CARD */
.card {
    width: 200px;
    background-color: var(--color-gray);
    border-radius: 20px;
    padding: 3rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card > * {
    margin: 3px 0;
}

.card .title, .card .desc {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.card .title {
    font-weight: bold;
}

.card .read {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .read:hover {
    cursor: pointer;
    opacity: 0.4;
}

/* ICONS */
.icon-red-circle {
    color: #DB1F48;
}

.icon-green-circle {
    color: #116530;
}