:root {
    --color-light: #fff;
    --color-dark: #000;
    --color-test: pink;

    --color-primary: #e4e4e4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, p {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-light);
    font-family: 'Montserrat', sans-serif;
}

input, textarea {
    width: 100%;
    margin: 5px 0;
    font-family: 'Montserrat', sans-serif;
}

input {
    padding: 5px;
}

input[type='checkbox'] {
    width: unset;
}

button {
    border: unset;
    background-color: unset;
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
    transition: 0.3s;
}

button.remove {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 1rem;
}

/* CUSTOM GLOBAL */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* width: 100%; */
    max-width: 1440px;
    background-color: var(--color-light);
    margin: 0 auto;
}

/* MENU */
.menu  {
    border-bottom: 1px solid var(--color-dark);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    /* margin-bottom: 50px; */
}

.menu > * {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.menu .left {
    margin-right: auto;
}

.menu .icon {
    width: 25px;
}

/* SUB MENU */
.sub_menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    margin-bottom: 50px;
}

.sub_menu p {
    text-transform: uppercase;
}

/* GRID */
.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MODAL */
.modal-background {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 1; 
}

.modal-content {
    background-color: #F4B9B8;
    padding: 5em;
    position: relative;
    color: #757575;
}

/* BUTTONS */
.btn-submit {
    margin: 1em auto;
    background-color: #868B8E;
    border-color: #B9B7BD;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: transparent;
}

/* FORM */
.form {
    width: 300px;
}

.form-field {
    text-align: center;
    font-size: 16px;
}

/* CARD */
.card {
    width: 200px;
    margin: 0 auto;
    background-color: var(--color-primary);
    border-radius: 20px;
    padding: 3rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card > * {
    margin: 3px 0;
}

.card .title, .card .desc {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.card .title {
    font-weight: bold;
    font-size: 1.5rem;
}

.card .desc {

}

.card .read {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .read:hover {
    cursor: pointer;
    opacity: 0.4;
}

/* ICONS */
.icon-red-circle {
    color: #DB1F48;
}

.icon-green-circle {
    color: #116530;
}